.resetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  height: calc(100vh - 100px);
}

.resetContainer > h1 {
  text-align: center;
}

.resetContainer > div {
  display: flex;
  flex-direction: column;
}

.resetContainer > div > label {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  color: var(--textColor);
}

.error {
  text-align: center;
  font-weight: bold;
}
