.thumbnailContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgroundColor);
  width: 75%;
  height: 125px;
  padding: 25px;
  margin: 25px 50px 0 50px;
  border-radius: 8px;
}

.thumbnailContainer:last-of-type {
  margin-bottom: 25px;
}

.thumbnailContainer:hover {
  cursor: pointer;
}

.thumbnailContainer p,
.thumbnailContainer h1,
.thumbnailContainer h2,
.thumbnailContainer h3 {
  margin: 0;
  color: var(--textColor);
  font-weight: bold;
}

.thumbnailContainer h3 {
  display: -webkit-box;
  max-width: 250px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.thumbnailAction {
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: var(--textColor);
  font-size: 40px;
  padding-left: 25px;
}

.thumbnailAction > div {
  display: flex;
}

.thumbnailAction:hover {
  cursor: pointer;
}

.thumbnailData {
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.thumbnailData p,
.thumbnailData h1,
.thumbnailData h2 {
  color: var(--textColor);
  max-width: 250px;
}

.thumbnailData h1 {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.thumbnailData h2 {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.thumbnailData h3 {
  font-size: 12px;
}

.image {
  height: 125px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
