.errorSummaryContainer {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkBackgroundColor);
  border-radius: 10px;
}

.errorSummaryContainer > p {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
  color: var(--textColor);
}
