.background {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  overflow-y: auto;
}

.scrollContainer {
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.cancel {
  display: inline-block;
  margin: 0 auto;
  margin-top: 25px;
}
