.background {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.cancel {
  display: inline-block;
  margin: 0 auto;
  margin-top: 25px;
}
