.fundraiseContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  box-sizing: border-box;
}

.mobileFundraiseContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.fundraiseContainer > div {
  width: 50%;
}

.fundraiseData {
  color: var(--textColor);
  margin-right: 25px;
  margin-bottom: 25px;
}

.fundraiseData > h1 {
  font-size: 50px;
  margin-top: 0;
}

.fundraiseData > h2 {
  font-size: 30px;
  margin: 0;
}

.fundraiseData > h3 {
  font-size: 20px;
  margin: 0;
}

.fundraiseImage img {
  width: 100%;
  border-radius: 8px;
}

.contact {
  margin-top: 25px;
}

.contact > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--textColor);
  margin: 10px;
  font-size: 18px;
}

.contact > h2 {
  margin: 0;
}

.neededVolunteers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.neededVolunteers {
  margin-top: 25px;
}

.neededVolunteers > a {
  margin-bottom: 10px;
}

.neededVolunteers > a:last-of-type {
  margin-bottom: 0;
}

.location {
  margin: 25px 0;
}

.location h2,
.location h3 {
  margin: 0;
}
