.card {
  background-color: var(--backgroundColor);
  width: 800px;
  height: 200px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
}
.card:hover {
  cursor: pointer;
}

.data {
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data h1,
.data h2,
.data p {
  margin: 0;
  color: var(--textColor);
}

.data h1 {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.data h2 {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.data p {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageContainer {
  box-sizing: border-box;
  padding: 25px;
  min-width: 50%;
  height: 100%;
}

.imageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.skills {
  margin: 10px 0;
}
