.volunteerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  box-sizing: border-box;
}

.mobileVolunteerContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.volunteerContainer > div {
  width: 50%;
}

.volunteerData {
  color: var(--textColor);
  margin-bottom: 25px;
  margin-right: 25px;
}

.volunteerData > h1 {
  font-size: 50px;
  margin-top: 0;
}

.volunteerData > h2 {
  font-size: 30px;
  margin: 0;
}

.volunteerData > h3 {
  font-size: 20px;
  margin: 0;
}

.volunteerImage img {
  width: 100%;
  border-radius: 8px;
}

.volunteerData > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--textColor);
  margin: 10px;
  font-size: 18px;
}

.requirements {
  margin: 25px 0;
}

.requirements p {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.aplication {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spin {
  margin-left: 10px;
  font-size: 25px;
  color: var(--textColor);
  animation: spin 1s infinite linear;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
